body {
    background-color: rgb(114, 194, 255);
}

.image_container {
    position: absolute;
}

.fih_image {
    width: 17vw;
    margin: 1%;
}

#fih_title {
    font-size: 2vw;
    position: absolute;
    margin-left: 35%;
    margin-right: 35%;
    color: rgb(66, 94, 255);
}